package templates

templ Home() {
    @head("Laelapa - Demetrius Papas", "laelapa.dev", "/") // TODO: Update to follow the same pattern as the other templates & handlers
    <body>
    @bg() {
        @nav()
        @hero()
    }
    </body>
}