package templates

templ Home() {
    @head("Your website's name", "example.com", "/") // TODO: Update to follow the same pattern as the other templates & handlers
    <body>
    @bg() {
        @nav()
        @hero()
    }
    </body>
}